.numberChanger input {
  flex: 3 1 auto;
  max-width: 40%;
  background-color: rgb(29 77 224);
  border: rgb(29 77 224);
  color: white;
  text-align: center;
}
.numberChanger,
.numberChanger2 {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.numberChanger .numberButton {
  flex: 1 1 auto;
  width: 1.8vw;
  background-color: rgb(29 77 224);
  border: rgb(29 77 224);
  color: white;
}
.numberChanger button:nth-of-type(1) {
  border-radius: 4rem 0 0 4rem;
}
.numberChanger button:nth-of-type(2) {
  border-radius: 0 4rem 4rem 0;
}
.itemAdder {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.itemAdderP1 {
  flex: 1;
  width: 50%;
  margin: 0 0.1rem;
}
.itemAdderP2 {
  flex: 1;
  width: 50%;
  margin: 0 0.1rem;
}
.itemAdderP2 button {
  width: -webkit-fill-available;
  background-color: rgb(179 211 242);
  border: rgb(0, 0, 0);
  /* border: solid; */
  color: rgb(0, 0, 0);
  margin: 0 0.2rem;
  border-radius: 4rem;
}
.ncDefBut {
  flex: 1;
  width: -webkit-fill-available;
  margin: 0 0.1rem;
  border-radius: 4rem;
  background-color: rgb(29 77 224);
  border: rgb(29 77 224);
  color: white;
}
