.modal-title {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  margin: 0.5rem 0 1rem 0;
}
.modalButton {
  width: -webkit-fill-available;
}
.modalLabel {
  color: rgb(0, 115, 255);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .modalForm {
    /* height: -webkit-fill-available;
    width: 350px; */
    height: fit-content;
    width: auto;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  /* .loginCheck,
  .loginFooter {
    margin: 1rem 0;
  }
  */
  .loginFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .loginCheck,
  .loginFooter {
    margin: 1rem 0;
  }
}
@media screen and (min-width: 800px) {
  .modalForm {
    height: 250px;
    width: 400px;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .loginCheck,
  .loginFooter {
    margin: 1rem 0;
  }
  .loginFooter {
    display: flex;
    justify-content: space-between;
  }
}
