.Footer a {
  color: aliceblue;
  text-decoration: none;
}
.signModule {
  cursor: pointer;
}
.head1,
.head2 {
  font-size: x-large;
}
.head3 {
  font-size: xx-small;
}
.footerIcon {
  font-size: large;
}
.signButton {
  background-color: black;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
    align-items: center;
    padding: 0.5rem 2rem;
    color: white;
    width: -webkit-fill-available;
    height: 40px;
    margin: 0;
  }
  .headSearch {
    width: 300px;
    margin: 0.5rem 2rem;
  }
  .Home {
    margin: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
  .Footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
    align-items: flex-end;
    padding: 0.5rem 2rem;
    color: white;
    font-size: x-small;
    width: -webkit-fill-available;
    height: fit-content;
    padding: 1rem 1rem;
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding: 0.5rem 2rem;
    color: white;
    width: -webkit-fill-available;
    height: 100px;
    margin: 0;
  }
  .head2 {
    display: none;
  }
  span {
    margin: 0.2rem 0;
  }
  .headSearch {
    flex: 1 0 100%;
    order: 3;
  }
  .HeaderText {
    order: 1;
  }
  .HeaderIcon {
    order: 2;
  }
  .signButton {
    display: none;
  }
  .Home {
    margin: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
  .Footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-color: rgb(15, 15, 15);
    /* align-items: flex-end; */
    padding: 0.5rem 2rem;
    color: white;
    font-size: x-small;
    width: -webkit-fill-available;
    height: fit-content;
    padding: 1rem 1rem;
    margin: 0;
  }
  .footerIcons {
    order: 3;
  }
}
